header{
  background-color: lightyellow;
  padding: 20px;
}

.logo{
  height: 150px;
  font-size: 100px;
}

.list{
 height: 80px;
 width: 20vw; 
 font-size: 50px;
}

reserve{
  background-color: black;
  color: white;
}